@charset "utf-8";

.footer{padding: 80px 0 50px 0 ; text-align: center; color: #fff; background: url(../images/symbol1.png) no-repeat center 6% / 42px 42px; background-color: #1d1d1d;}

.footer-nav{padding: 0 4%; background: #d32234;}
.footer-nav li{float: left; width: 25%; text-align: center;}
.footer-nav li a{display: block; padding: 10px 0; font-size: 11px; color: #fff;}
.footer address{margin-top: 30px; font-size: 12px;}
.copy{margin-top: 10px; font-size: 12px; color: #d9d9d9;}