@charset "utf-8";
@import url(reset.css);
@import url(header.css);
@import url(footer.css);
@import url(jquery.bxslider.css);

#container{position: relative; width: 100%;}
#container.off{display: none;}

/* visual */
.visual{position: relative; width: 100%;}
.visual > img{width: 100%; height: 100%;}
.visual h2{position: absolute; bottom: 20px; left: 0; text-align: center;}
.visual h2 img{width: 94.445%; height: 100%;}

/* banner */
.bannerwrap{width: 100%; padding: 30px 4%; background: #1d1d1d;}
.bannerwrap ul li{width: 100%; margin-bottom: 10px; background: #d32234;}
.bannerwrap ul li:last-child{margin-bottom: 0;}

.banner a{display: block; position: relative; padding: 10px 7.35%; font-size: 16px; color: #fff;}
.banner .icon{margin-right: 6%;}
.banner .banner_txt{display: inline-block; padding-left: 6%; background: url(../images/ticket_bar.png) no-repeat 0 4px;}
.banner .more{position: absolute; top: 11px; right: 7.35%;}

/* program */
.programwrap{position: relative; width: 100%; padding: 50px 4%; color: #fff; background: #232323;}

.program img{width: 100%; height: 100%;}
.program .title1,
.program .title2{font-weight: 700; font-size: 24px;}
.program .title2{margin-bottom: 10px;}

.program_info{margin-bottom: 10px; font-size: 14px; color: #ccc;}
.program_info p{float: left;}
.program_info div{float: right;}

.bx-pager-item .bx-pager-link{display: inline-block; width: 25px; height: 25px;}

/* news */
.newswrap{width: 100%; padding: 30px 4%; background: #fff;}
.news_title{text-align: center; margin-bottom: 25px;}
.news_title h3{font-weight: 700; font-size: 28px;}

.news{width: 100%;}
.news li{float: left; width: 48%; margin-right: 4%; margin-bottom: 20px;}
.news .mrno{margin-right: 0;}

.news_cont{width: 100%; font-size: 16px;}
.news_cont dt img{width: 100%; height: 100%;}
.news_cont dd{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.news_cont dd.title{margin-top: 5px; font-weight: 700;}

/* email */
.email{width: 100%; padding: 30px 0; background: url(../images/symbol2.png) no-repeat 4% 0 #fff;}
.top_visual{width: 100%; padding: 20px 0;}
.bot_visual{width: 100%; padding: 40px 0; text-align: center; background-color: #eeebe9;}
.bot_visual h3{font-size: 28px; margin-bottom: 10px;}

.email_frm{width: 100%; padding: 0 4%;}
.email_frm .email_txt{float: left; width: 70%; height: 50px; padding-left: 4%; border: 1px solid #b9b9b9;}
.email_frm .email_btn{float: left; display: block; width: 30%; height: 50px; line-height: 50px; border: 1px solid #b9b9b9; border-left: none; font-size: 16px; color: #fff; background: #333;}

/* interview */
.interviewwrap{width: 100%;}
.interview_title{position: relative; width: 100%; padding: 10px 4%; background: url(../images/interview_bg.png) repeat 0 0;}
.interview_title h3{width: 100%; margin-top: 47px; font-weight: 700; font-size: 20px; color: #fff;}
.interview_title a{display: block; width: 48px; height: 48px;}
.interview_title a img{width: 48px; height: 48px; position: absolute; top: 50%; right: 4%; transform: translate(0, -50%);}

.interview{width: 100%;}
.interview li{position: relative; float: left; width: 50%;}
.interview li img{width: 100%; height: 100%;}
.interview li p{position: absolute; bottom: 15px; left: 4%; font-size: 16px; color: #fff;}